.collection-filters{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.collection-filters > *{
    flex-basis: 23%;
}
.collection-filters button{
    display: inline-block;
    padding: 5px 10px;
    color:  var(--text-white);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    background: var(--text-faint-gray);
}
.collection-filters button.active{
    background: var(--primary-gradient);
}
/* MEDIA QUERIES STARTS */
@media screen  and (min-width: 320px) and (max-width: 480px){
    .collection-filters{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .collection-filters > *{
        flex-basis: 45%;
    }
}
/* MEDIA QUERIES ENDS */