.collection-header{
    text-align: center;
    margin-bottom: 30px;
}
.collection-header h3{
    font-size: 25px;
}
.collection-header p{
    color: var(--text-faint-white);
}
/* MEDIA QUERIES STARTS */
@media screen and (max-width: 320px){
    .collection-header p{
        font-size: 14px;
    }
    .collection-header br{
       display: none;
   }
}
@media screen and (max-width: 567px){
    .collection-header p{
        font-size: 16px;
    }
    .collection-header br{
       display: none;
   }
}
/* MEDIA QUERIES ENDS */
