.hero-image{
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
}
.hero-image:last-child{
    /* place-items: center; */
}
/* MEDIA QUERIES STARTS */
@media screen and (max-width: 320px){
    .hero-image{
        width: fit-content;
        grid-template-rows: auto;
        margin-bottom: 10px;
    }
    .hero-image img{
        width: 100%;
    }
}
@media screen and (max-width: 567px){
    .hero-image img{
        width: 100%;
    }
}
/* MEDIA QUERIES ENDS */