#about .about-inner .about-row{
    display: flex;
    justify-content: space-around;
}
#about .about-inner .about-row .about-image_container{
    flex-basis: 35%;
}
#about .about-inner .about-row .about-description{
    flex-basis: 40%;
}
/* MEDIA QUERIES STARTS */
@media screen and (max-width: 320px){
    #about .about-inner .about-row{
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 30px;
    }
    #about .about-inner .about-row .about-image_container{
        flex-basis: 100%;
    }
    #about .about-inner .about-row .about-image_container .about-image{
        width: 100%;
    }
}
@media screen and (max-width: 567px){
    #about .about-inner .about-row{
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 35px;
    }
}
/* MEDIA QUERIES ENDS */
