#clients{
    margin: 60px 0;
}
#clients .clients-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* MEDIA QUERIES STARTS */
@media screen and (max-width: 320px){
    #clients{
        margin: 25px 0;
    }
    #clients .clients-inner{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 25px 0;
        gap: 40px;
    }
}
@media screen and (max-width: 567px){
    #clients{
        margin: 0;
    }
    #clients .clients-inner{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 25px 0;
        gap: 35px;
    }
}
/* MEDIA QUERIES ENDS */
