#creator .creator-inner .creator-cards .creator-cards_column{
    display: flex;
    justify-content: space-between;
}
/* MEDIA QUERIES STARTS */
@media screen  and (min-width: 320px) and (max-width: 480px){
    #creator .creator-inner .creator-cards .creator-cards_column{
        flex-direction: column;
        row-gap: 20px;
    }
}
@media screen  and (min-width: 500px) and (max-width: 768px){
    #creator .creator-inner .creator-cards .creator-cards_column{
        flex-direction: column;
        row-gap: 20px;
    }
}
/* MEDIA QUERIES ENDS */