#cta .cta-inner{
    background: var(--primary-gradient);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 35px 0;
}
#cta .cta-inner .cta-details{
    text-align: center;
}
#cta .cta-inner .cta-details h2{
    font-size: 32px;
    margin-bottom: 15px;
    line-height: 45px;
}
/* MEDIA QUERIES STARTS */
@media screen and (max-width: 320px){
    #cta .cta-inner{
        padding: 15px 0 !important;
    }
    #cta .cta-inner .cta-details h2{
        font-size: 20px !important;
        line-height: 30px !important;
    }
}
@media screen and (max-width: 567px){
    #cta .cta-inner{
        padding: 20px 0;
    }
    #cta .cta-inner .cta-details h2{
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 5px;
    }
}
/* MEDIA QUERIES ENDS */