#featured .featured-inner .featured-cards{
}
#featured .featured-inner .featured-cards .featured-cards_column{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
#featured .featured-inner .featured-cards .featured-cards_column > *{
    /* flex-basis: 25%; */
}
/* MEDIA QUERIES STARTS */
@media screen  and (min-width: 320px) and (max-width: 480px){
    #featured .featured-inner .featured-cards .featured-cards_column{
        flex-direction: column;
        gap: 20px;
    }
}
/* MEDIA QUERIES ENDS */