#hero{
    margin-top: 60px;
    min-height: 80vh;
}
#hero .hero-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#hero .hero-inner > *{
    flex-basis: 40%;
}
#hero .hero-inner .hero-images{
    column-count: 3;
    column-gap: 10px;
}
/* MEDIA QUERIES STARTS */
@media screen  and (min-width: 320px) and (max-width: 480px){
    #hero .hero-inner{
        flex-direction: column-reverse;
        gap: 40px;
    }   
}
/* MEDIA QUERIES ENDS */
