nav{
    width: 100%;
    z-index: 200;
}
nav .nav-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:  var(--site-max-width);
    margin: 0 auto;
    padding: 15px 0;
}
nav .nav-inner .nav-logo h2{
    color: var(--text-white);
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 35px;
}
nav .nav-inner .nav-logo h2 span{
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
nav .nav-inner .nav-links{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
/* MEDIA QUERIES STARTS */
@media screen  and (min-width: 320px) and (max-width: 480px){
    nav .nav-inner{
        padding: 5px 0;
    }
    nav .nav-inner .nav-logo h2{
        font-size: 30px;
    }
    nav .nav-inner .nav-search{
        display: none;
    }
    nav .nav-inner .nav-links{
        width: 100%;
        height: 100vh;
        background: rgba(255,255,255,0.41);
        backdrop-filter: blur(16px) saturate(152%);
        -webkit-backdrop-filter: blur(16px) saturate(152%);
        border: 1px solid rgba(209, 213, 219, 0.3);
        position: fixed;
        left: 0%;
        top: 0%;
        flex-direction: column;
        justify-content: center;
        row-gap: 25px;
        z-index: 100;
        display: none;
    }
    nav .nav-inner .nav-links.active{
        display: flex;
    }
    nav .nav-inner .nav-links button{
        width: 90%;
    }
}
/* MEDIA QUERIES ENDS */
